/*
###########################################################
#                    --PÁGINA DE ESTILOS--                #
#                                                         #
#                Autor: Murillo André Maleski             #
#                   Diário de Bordo Online                #
###########################################################
*/

/*	Impedir que as imagens ampliem acima de sua largura	*/
img{max-width: 100%;}

/*	Definir background fixo, sem rolar com a página	*/
body{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: white;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#header{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
#header ul, #header li{
	list-style: none;
	margin-bottom: 0px;
	margin-top: 0px;
}
#header li{
	font-size: 22px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 3%;
	padding-left: 3%;
}
#header p{
	padding-right: 20%;
	font-size: 26px;
}
#header a{
	font-size: 20px;
	color: #FF1188;
	font-family: Calibri;
	text-decoration: none;
}


#menu{
	display: inline;
	border: 2px solid black;
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
}

hr{
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-width: 2px;
	border-radius: 2px;
	color: black;
	text-align: center;
}

#page{
	margin-left: 6%;
	margin-right: 6%;
}
#page p{
	font-size: 22px;
}
#page button{
	width: 10%;
	margin-right: 3%;
}
#page input{
	width: 59%;
}
#page table{
	margin-top: 3%;
	margin-bottom: 3%;
	width: 100%;
	background-color: white;
	font-family: Arial, sans-serif;
	border-collapse: collapse;
}
#page td, th{
	border: 3px solid #252525;
    text-align: left;
}
#page th{
	background-color: #252525;
	color: white;
	text-decoration: bold;
	padding: 8px;
}
#page td{
	padding: 5px;
}


#footer{
	background-color: rgb(25, 25, 25, 0.88);
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	clear: both;
	border: 0;
	position:absolute;
	bottom:0;
}
#footer ul, #footer li{
	list-style: none;
}
#footer ul{
	padding-left: 0;
}
#footer li{
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #515151;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	display: inline-block;
	vertical-align: middle;
}
#footer li:last-child{
	border: 0;
}
#footer p{
	font-family: "Tahoma";
	font-size: 14px;
	line-height: 20px;
	vertical-align: baseline;
	color: #868686;
}
#footer a{
	display: block;
}